<!DOCTYPE html>
<html>
<head>
  <title>BackbonerailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
		 <% if user_signed_in? %>
			<li class="<%= menu_active('admin/admin') %>"> <h1 style="color:white">BackboneRails</h1></li>
			<li class="<%= menu_active('listings') %>"><%= link_to "Listings", listings_url %></li>
			<li class="dropdown">
                    <a data-target="#" data-toggle="dropdown" class="pull-right dropdown-toggle"><%= current_user.email %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li> 
                          <%= link_to 'Edit account', edit_user_registration_path(current_user) %>
                    </li>
                     <li> 
                          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
                      </li>
                    </ul>
                 </li> 
		<% else %>
		<li>
            	     <h1 style="color:white">BackboneRails</h1>
		</li>
		  <li>
                    <%= link_to 'Login', new_user_session_path %>
                  </li>
                  <li>
                    <%= link_to 'Sign up', new_user_registration_path %>
                  </li>
                <% end %>
	</ul>
      </div>
    </div>
   </div>
  </div>
  <% if flash[:notice] %>
   <div class="alert alert-success container">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <span class="message"><%= flash[:notice]%></span>

    </div>
<% end %>
<%= yield %>

</body>
</html>
